<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="HBMS" value="BMSHIAP"></add>
      <add key="T_ST" value="DSP"></add>
      <add key="T_SUM" value="MCUA#MCUB"></add>
      <add key="T_CRC" value=""></add>
      <add key="T_NOCHK" value=""></add>
      <add key="FlashStart" value="82000"></add>
      <add key="FlashEnd" value="99FFF"></add>
      <add key="SendRowsEach" value="4"></add>
    </appSettings>
</configuration>
